@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(207, 48%, 98%);
    --foreground: hsl(207, 54%, 4%);
    --muted: hsl(207, 7%, 87%);
    --muted-foreground: hsl(207, 9%, 36%);
    --popover: hsl(207, 48%, 98%);
    --popover-foreground: hsl(207, 54%, 4%);
    --card: hsl(207, 48%, 98%);
    --card-foreground: hsl(207, 54%, 4%);
    --border: hsl(207, 3%, 90%);
    --input: hsl(207, 3%, 90%);
    --primary: hsl(207, 100%, 64%);
    --primary-foreground: hsl(207, 100%, 4%);
    --secondary: hsl(207, 3%, 87%);
    --secondary-foreground: hsl(207, 3%, 27%);
    --accent: hsl(207, 3%, 87%);
    --accent-foreground: hsl(207, 3%, 27%);
    --destructive: hsl(9, 93%, 32%);
    --destructive-foreground: hsl(9, 93%, 92%);
    --ring: hsl(207, 100%, 64%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(207, 54%, 4%);
    --foreground: hsl(207, 30%, 97%);
    --muted: hsl(207, 7%, 13%);
    --muted-foreground: hsl(207, 9%, 64%);
    --popover: hsl(207, 54%, 4%);
    --popover-foreground: hsl(207, 30%, 97%);
    --card: hsl(207, 54%, 4%);
    --card-foreground: hsl(207, 30%, 97%);
    --border: hsl(207, 3%, 11%);
    --input: hsl(207, 3%, 11%);
    --primary: hsl(207, 100%, 64%);
    --primary-foreground: hsl(207, 100%, 4%);
    --secondary: hsl(207, 16%, 20%);
    --secondary-foreground: hsl(207, 16%, 80%);
    --accent: hsl(207, 16%, 20%);
    --accent-foreground: hsl(207, 16%, 80%);
    --destructive: hsl(9, 93%, 54%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(207, 100%, 64%);
  }
}
